body {
  background: lightblue;
  color: blue;
  padding: 25px;
  font-family: serif;
  font-size: 25px;
  /* text-align: center; */
}
#header {
  font-size: 30px;
  color: black;
}
#GPA {
  text-align: center;
  color: green;
}
#grades {
  text-align: center;
}
#fh {
  background-color: lightblue;
  color: blue;
  padding: 25px;
  font-family: serif;
  font-size: 25px;
  text-align: center;
}
#name {
  background-color: lightblue;
  font-size: 30px;
}
